<div class="bg-[#E8FEC5]">
    <div class="container">
        <div class="py-[33.5px] text-center mt-12">
            <p class="font-bold leading-[1.2] text-2xl">加入會員取得 9 折優惠<button type="button" class="font-medium text-base leading-normal bg-[#212529] text-white py-3 px-6 rounded-[4px] ml-6 hover:bg-[#495057] focus:bg-[#495057]">馬上註冊</button></p>
        </div>
    </div>
</div>